.hidden {
    display: none;
}

#box {
    margin-top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #c0c0c0;
}

#box.yellow {
    background-color: yellow;
}

#box.green {
    background-color: green;
}

#box.blue {
    background-color: blue;
}

#box.red {
    background-color: red;
}

#box.orange {
    background-color: orange;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

select,
form input[type="text"],
form input[type="email"],
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #15b8a6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

form input[type="submit"]:hover {
    background-color: #0F9687;
}

form input.error,
form select.error {
    border: 1px solid red;
}

span.error {
    color: red;
    font-size: 12px;
    margin-top:-5px;
    margin-bottom: 10px;
}
